.information
  チャットグループが作成されました。

= render :partial => "var-side"

.main-contents
  .main-contents__header
    .main-contents__header__group-name
      group1
    .main-contents__header__group-member
      MEMBER
      %i.member-name
        yoko
    .main-contents__header__edit-btn
      %a.chat-main__header--group-edit-btn
        edit

  .main-contents__message
    .messages-contents
      .messages
        .message-box.clearfix
          .message-box__name
            yoko
          .message-box__date
            2018/10/03 15:15:14
        .message-box__text
          hello!!
      .messages
        .message-box.clearfix
          .message-box__name
            yuki
          .message-box__date
            2018/10/03 15:15:14
        .message-box__text
          good bye~
      .messages
        .message-box.clearfix
          .message-box__name
            tatsuya
          .message-box__date
            2018/10/03 15:15:14
        .message-box__text
          hey~

  = render :partial => "bottom-contents"

