
= render partial: "var-side"

.main-contents
  .main-contents__header
    .main-contents__header__group-name
      =@group.name
    .main-contents__header__group-member
      Member
      %i.member-name
      -@group.users.each do |user|
        =user.name + " "
    .main-contents__header__edit-btn
      %a.chat-main__header--group-edit-btn
      edit
  .main-contents__message
    = render partial: 'message', collection: @messages

  = render partial: "bottom-contents"

