.bottom-contents {
  position: fixed;
  display: block;
  box-sizing: border-box;
  background-color: #b8c3c7;
  height: 80px;
  bottom: 0;
  width: $mainContetWidth;
  .new-message {
    margin: 0 10px 0 35px;
    position: relative;
    .message--inform-box{
      position: relative;
      .text-holder {
        height: 40px;
        width: calc( 100% - 130px );
        padding: 15px 10px;
        margin: 20px 0;
        border: none;
        box-sizing: border-box;
        color: #434a54;
        font-size: 16px;
        line-height: 16px;
        background-color: white;
        border: none;
      }

      .chat-file {
          background-color: white;
          height: 30px;
          width: 40px;
          margin: 20px 110px 20px 0;
          padding-top: 10px;
          position: absolute;
          top: 0;
          right: 0;
          .hidden {
            display: none;
          }
      }

      .submit {
        background-color: #38AEF0;
        position: absolute;
        float: right;
        color: white;
        font-size: 16px;
        width: 80px;
        height: 40px;
        border: none;
        margin: 20px 0 20px 30px;
        z-index: 6;
      }
    }
  }
}
